@page "/ProductsList/create"

@inject IProductService _productService
@inject NavigationManager navigation

<h2>Novo Produto</h2>

<MangaForm Manga="@product" OnValidSubmit="CreateProduct"
           ButtonTextCancelar="Cancelar"
           ButtonTextSubmit="Salvar">
</MangaForm>

@code {

    private ProductDto product = new();

    async Task CreateProduct()
    {
        try
        {
            await _productService.CreateProduct(product);
            navigation.NavigateTo("produtos");
        }
        catch (Exception)
        {
            throw;
        }
    }
}
