@if (ProductsLists is not null)
{
    foreach (var productsList in ProductsLists)
    {
        <div class="col-md-3 mb-2">
            <a href="/ProductsListDetails/@productsList.Id">
                <div class="card">
                    <img class="img-fluid" src="@" alt="User Logo">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            @productsList.Name
                            @productsList.Description
                            
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    }
}

@code {

    [Parameter]
    public IEnumerable<ProductsListDto>? ProductsLists { get; set; }
}