@page "/about"

<PageTitle>Sobre</PageTitle>

<FluentBodyContent>
    <div>
    <p>
    Este é um software desenvolvido com muito amor para a pessoa mais importante da minha vida, então foi desenvolvido com muito amor.
    Se trata de uma forma facil de criar shopping lists com produtos, importantando informações usando o link para o produto retirado de algum anuncio online.
    Conforme for passando o tempo serão implementandas funcionalidades, mas basicamente funciona da seguinte forma:
    </p>
    1. Cria uma nova shopping list.
    <br />
    2. Adiciona produtos a essa shopping list manualmente ou informando um link para que seja pre-preenchido os atributos do produto.
        <br />
    3. Depois seria só decidir se esta shopping list sera visivel para o publico e enviar o link dela para quem desejar!
        <br />
    4. Lembrando que tambem é possível exportar para pdf ou excel.
        <br />
    5. Use como preferir. :)
    </div>
</FluentBodyContent>
