
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://joaodiasdev.com/" target="_blank">JoaoDiasDev</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>