.dark-modal-content {
    background-color: #343a40;
    color: #fff;
}

.dark-modal-header {
    border-bottom: 1px solid #454d55;
}

.dark-modal-body {
    background-color: #343a40;
}

.dark-modal-footer {
    border-top: 1px solid #454d55;
}

.dark-input {
    background-color: #495057;
    border: 1px solid #6c757d;
    color: #fff;
}

    .dark-input:focus {
        background-color: #495057;
        border: 1px solid #80bdff;
        color: #fff;
    }

.btn-close-white {
    filter: invert(1);
}

.custom-dialog .e-dialog {
    z-index: 1000 !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
