@implements IDisposable

@if (AllState.ShowDepartment)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header text-bg-secondary">
                        <h4 class="float-start">Departments</h4>
                        <button class="btn btn-success float-end"
                                @onclick="AddButtonClicked">
                            <i class="bi bi-plus-circle-dotted"></i> Add Department
                        </button>
                    </div>
                    <div class="card-header text-bg-light" style="max-height: 580px; overflow-x: hidden; overflow-y: scroll; ">
                        <div class="card-body text-bg-light">
                            <table class="table table-secondary table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">General Department</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Departments is not null)
                                    {
                                        var count = 1;
                                        foreach (var item in Departments)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.GeneralDepartment?.Name</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info cursorStyle"
                                                       @onclick="() => EditClicked(item)"></i>
                                                    <i class="bi bi-trash text-danger cursorStyle"
                                                       @onclick="() => DeleteClicked(item)"></i>

                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <div class="alert alert-info text-center">No Department added yet!</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

<DepartmentDialog @ref="_departmentDialog"
                  Department="Department"
                  GeneralDepartments="GeneralDepartments"
                  OnSaveOperation="HandleSaveOperation" />


@code {
    DepartmentDialog? _departmentDialog;
    private Department Department { get; set; } = new();
    public List<GeneralDepartment> GeneralDepartments { get; set; } = [];
    private List<Department> Departments { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await GetDepartments();
        await GetGeneralDepartments();
        AllState.Action += StateHasChanged;
    }

    private async Task GetDepartments()
    {
        Departments = await DepartmentService.GetAll(Constants.DepartmentBaseUrl);
    }

    private async Task GetGeneralDepartments()
    {
        GeneralDepartments = await GeneralDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
    }

    private void AddButtonClicked()
    {
        _departmentDialog?.ChangeTitle("Add");
        Department = new Department();
        OpenDialog();
    }

    private void OpenDialog()
    {
        _departmentDialog?.OpenDialog();
    }

    //Add Or Update
    private async Task HandleSaveOperation(Department department)
    {
        bool successCheck;
        if (department.Id > 0)
        {
            var response = await DepartmentService.Update(department, Constants.DepartmentBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        else
        {
            var response = await DepartmentService.Create(department, Constants.DepartmentBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }

        if (successCheck)
        {
            Department = new Department();
            await GetDepartments();
            _departmentDialog?.ChangeTitle("Add");
        }
    }

    //Edit
    private void EditClicked(Department department)
    {
        _departmentDialog?.ChangeTitle("Update");
        Department = department;
        OpenDialog();
    }

    //Delete
    private async Task DeleteClicked(Department department)
    {
        var isConfirmed = await SfDialogService.ConfirmAsync($"Are you sure you wanna delete {department.Name}?", "Confirm Delete");
        if (!isConfirmed) return;

        var response = await DepartmentService.DeleteById(department.Id, Constants.DepartmentBaseUrl);
        var successCheck = await DisplayMessage(response.Flag, response.Message);
        if (successCheck)
        {
            await GetDepartments();
        }
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await SfDialogService.AlertAsync("Success", message);
            return true;
        }
        else
        {
            await SfDialogService.AlertAsync("Error", message);
            return false;
        }
    }

    public void Dispose()
    {
        AllState.Action -= StateHasChanged;
    }
}
