@implements IDisposable
@if (AllState.ShowEmployee)
{
    @if (ShowMainPage)
    {
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-outline-success" @onclick="ShowAddOrUpdateEmployeeButtonClicked">
                                <i class="bi bi-plus-circle-dotted"></i> Add Employee
                            </button>
                        </div>
                        <div class="card-body">
                            <SfGrid DataSource="@Employees">
                                <GridColumns>
                                    <GridColumn HeaderText="Employee Image">
                                        <Template>
                                            @{
                                                var employee = context as Employee;
                                                <div class="image">
                                                    <img src="@employee!.Photo" alt="@employee.Name" width="150" height="150" />
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(Employee.CivilId) HeaderText="Civil Id"></GridColumn>
                                    <GridColumn Field=@nameof(Employee.FileNumber) HeaderText="File Number"></GridColumn>
                                    <GridColumn Field=@nameof(Employee.Name) HeaderText="Name"></GridColumn>
                                    <GridColumn Field=@nameof(Employee.TelephoneNumber) HeaderText="Telephone Number"></GridColumn>
                                    <GridColumn Field=@nameof(Employee.JobName) HeaderText="Job Name"></GridColumn>
                                    <GridColumn Field=@nameof(Employee.Branch.Name) HeaderText="Branch"></GridColumn>
                                    <GridColumn Field=@nameof(Employee.Town.Name) HeaderText="Town"></GridColumn>
                                    <GridColumn HeaderText="Menu" HeaderTextAlign="TextAlign.Left">
                                        <Template>
                                            @{
                                                var employee = context as Employee;
                                                <i class="bi bi-menu-down text-primary"
                                                   id="cursorStyle" @onclick="() => ShowMenuPopUp(employee!)">
                                                </i>
                                            }
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<AddOrUpdateEmployee @ref="_addOrUpdateEmployee"
                     Employee="Employee"
                     ShowAddOrUpdateEmployee="ShowAddOrUpdatePage"
                     NotifyParentFormCloseClicked="OnNotifyParentFormCloseClicked"
                     Countries="DefaultCountries"
                     Cities="SelectedCities"
                     Towns="SelectedTowns"
                     GeneralDepartments="DefaultGeneralDepartments"
                     Departments="SelectedDepartments"
                     Branches="SelectedBranches"
                     HandleCountrySelectedEvent="HandleCountrySelectedEvent"
                     HandleCitySelectedEvent="HandleCitySelectedEvent"
                     HandleGeneralDepartmentSelectedEvent="HandleGeneralDepartmentSelectedEvent"
                     HandleDepartmentSelectedEvent="HandleDepartmentSelectedEvent"
                     HandleSaveEmployeeClickedEvent="HandleSaveEmployeeClickedEvent">
</AddOrUpdateEmployee>
<EmployeeDetailPage EmployeeDetails="Employee"
                    ShowDetailsPage="ShowDetailsPage"
                    HandleDetailsPageCloseBtnClicked="OnDetailsPageCloseBtnClicked">

</EmployeeDetailPage>

<CustomContextMenu @ref="_contextMenu"
                   HandleDeleteClicked="DeleteClicked"
                   HandleEditClicked="EditClicked"
                   HandleViewClicked="ViewClicked"
                   HandleAddHealthClicked="AddHealthClicked"
                   HandleAddOvertimeClicked="AddOvertimeClicked"
                   HandleAddSanctionClicked="AddSanctionClicked"
                   HandleAddVacationClicked="AddVacationClicked">
</CustomContextMenu>

<DoctorDialog @ref="_doctorDialog"
              Doctor="Doctor"
              HandleSaveOperationEvent="OnSaveHealthEvent">
</DoctorDialog>

<OvertimeDialog @ref="_overtimeDialog"
                Overtime="Overtime"
                OvertimeTypes="OvertimeTypes"
                HandleSaveOperationEvent="OnSaveOvertimeEvent">

</OvertimeDialog>

@code {
    OvertimeDialog? _overtimeDialog;
    VacationDialog? _vacationDialog;
    SanctionDialog? _sanctionDialog;
    DoctorDialog? _doctorDialog;
    AddOrUpdateEmployee? _addOrUpdateEmployee;
    private CustomContextMenu? _contextMenu;
    private List<Employee> Employees { get; set; } = [];
    private Employee Employee { get; set; } = new();
    private bool ShowMainPage { get; set; } = true;
    public bool ShowAddOrUpdatePage { get; set; }
    private bool ShowDetailsPage { get; set; }
    public List<Country> DefaultCountries { get; set; } = [];
    private List<City> DefaultCities { get; set; } = [];
    private List<Town> DefaultTowns { get; set; } = [];
    public List<GeneralDepartment> DefaultGeneralDepartments { get; set; } = [];
    private List<Department> DefaultDepartments { get; set; } = [];
    private List<Branch> DefaultBranches { get; set; } = [];
    public List<Town> SelectedTowns { get; set; } = [];
    public List<Department> SelectedDepartments { get; set; } = [];
    public List<City> SelectedCities { get; set; } = [];
    public List<Branch> SelectedBranches { get; set; } = [];
    private Employee SelectedEmployee { get; set; } = new();
    private Doctor Doctor { get; set; } = new();
    private Overtime Overtime { get; set; } = new();
    private List<OvertimeType> OvertimeTypes { get; set; } = [];
    private Vacation Vacation { get; set; } = new();
    private List<VacationType> VacationTypes { get; set; } = [];
    private Sanction Sanction { get; set; } = new();
    private List<SanctionType> SanctionTypes { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        AllState.Action += StateHasChanged;
        await LoadEmployees();
        await LoadDefaults();
    }

    private async Task LoadDefaults()
    {
        DefaultCountries = await CountryService.GetAll(Constants.CountryBaseUrl);
        DefaultCities = await CityService.GetAll(Constants.CityBaseUrl);
        DefaultTowns = await TownService.GetAll(Constants.TownBaseUrl);
        DefaultGeneralDepartments = await GeneralDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
        DefaultDepartments = await DepartmentService.GetAll(Constants.DepartmentBaseUrl);
        DefaultBranches = await BranchService.GetAll(Constants.BranchBaseUrl);
    }

    private void HandleCountrySelectedEvent(int countryId)
    {
        SelectedCities = DefaultCities.Where(c => c.CountryId == countryId).ToList();
    }

    private void HandleCitySelectedEvent(int cityId)
    {
        SelectedTowns = DefaultTowns.Where(t => t.CityId == cityId).ToList();
    }

    private void HandleGeneralDepartmentSelectedEvent(int generalDepartmentId)
    {
        SelectedDepartments = DefaultDepartments.Where(d => d.GeneralDepartmentId == generalDepartmentId).ToList();
    }

    private void HandleDepartmentSelectedEvent(int departmentId)
    {
        SelectedBranches = DefaultBranches.Where(b => b.DepartmentId == departmentId).ToList();
    }

    private async Task HandleSaveEmployeeClickedEvent(Employee employee)
    {
        bool successCheck;
        if (employee.Id > 0)
        {
            var result = await EmployeeService.Update(item: employee, baseUrl: Constants.EmployeeBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var result = await EmployeeService.Create(item: employee, baseUrl: Constants.EmployeeBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }

        if (successCheck)
        {
            _addOrUpdateEmployee!.ClearContent();
            await OnNotifyParentFormCloseClicked();
        }
    }

    //Notify parent when Add or Update employee form closes
    private async Task OnNotifyParentFormCloseClicked()
    {
        ShowMainPage = true;
        ShowAddOrUpdatePage = false;
        await LoadEmployees();
        SelectedEmployee = new Employee();
    }

    private async Task LoadEmployees()
    {
        Employees = await EmployeeService.GetAll(Constants.EmployeeBaseUrl);
    }

    private void ShowAddOrUpdateEmployeeButtonClicked()
    {
        ShowMainPage = false;
        ShowAddOrUpdatePage = true;
    }

    //Context menu
    private void ShowMenuPopUp(Employee employee)
    {
        SelectedEmployee = employee;
        _contextMenu!.OpenContextMenu();
    }

    private void EditClicked()
    {
        _addOrUpdateEmployee!.Employee.Id = SelectedEmployee.Id;
        _addOrUpdateEmployee!.EmployeeGroup1Dto.CivilId = SelectedEmployee.CivilId;
        _addOrUpdateEmployee!.EmployeeGroup1Dto.FileNumber = SelectedEmployee.FileNumber;
        _addOrUpdateEmployee!.EmployeeGroup1Dto.Name = SelectedEmployee.Name;
        _addOrUpdateEmployee!.EmployeeGroup1Dto.TelephoneNumber = SelectedEmployee.TelephoneNumber;
        _addOrUpdateEmployee!.EmployeeGroup1Dto.Photo = SelectedEmployee.Photo;
        _addOrUpdateEmployee!.EmployeeGroup1Dto.Address = SelectedEmployee.Address;
        _addOrUpdateEmployee!.EmployeeGroup2Dto.JobName = SelectedEmployee.JobName;
        _addOrUpdateEmployee!.EmployeeGroup2Dto.Other = SelectedEmployee.Other;

        _addOrUpdateEmployee!.GeneralDepartment = SelectedEmployee.Branch!.Department!.GeneralDepartment!.Name;
        _addOrUpdateEmployee!.Department = SelectedEmployee.Branch!.Department!.Name;
        _addOrUpdateEmployee!.Branch = SelectedEmployee.Branch!.Name;
        _addOrUpdateEmployee!.Country = SelectedEmployee.Town!.City!.Country!.Name;
        _addOrUpdateEmployee!.City = SelectedEmployee.Town!.City!.Name;
        _addOrUpdateEmployee!.Town = SelectedEmployee.Town!.Name;

        _addOrUpdateEmployee.Title = "Update";
        SelectedEmployee = new Employee();
        _contextMenu!.CloseContextMenu();
        ShowAddOrUpdatePage = true;
        ShowMainPage = false;
    }

    private async Task DeleteClicked()
    {
        _contextMenu!.CloseContextMenu();
        var confirm = await SfDialogService
            .ConfirmAsync($"Are you sure you wanna delete {SelectedEmployee.Name}?",
            "Confirm Delete");
        if (!confirm) return;

        var response = await EmployeeService.DeleteById(SelectedEmployee.Id, Constants.EmployeeBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
        {
            SelectedEmployee = new Employee();
            await LoadEmployees();
        }
    }

    private void ViewClicked()
    {
        Employee = SelectedEmployee;
        _contextMenu!.CloseContextMenu();
        ShowDetailsPage = true;
        ShowMainPage = false;
        SelectedEmployee = new Employee();
    }

    private void OnDetailsPageCloseBtnClicked()
    {
        ShowMainPage = true;
        ShowDetailsPage = false;
    }

    private void AddVacationClicked()
    {
        Vacation.EmployeeId = SelectedEmployee.Id;
        _contextMenu!.CloseContextMenu();
        _vacationDialog!.OpenDialog();
    }

    private void AddOvertimeClicked()
    {
        Overtime.EmployeeId = SelectedEmployee.Id;
        _contextMenu!.CloseContextMenu();
        _overtimeDialog!.OpenDialog();
    }

    private void AddHealthClicked()
    {
        Doctor.EmployeeId = SelectedEmployee.Id;
        _contextMenu!.CloseContextMenu();
        _doctorDialog!.OpenDialog();
    }

    private void AddSanctionClicked()
    {
        Sanction.EmployeeId = SelectedEmployee.Id;
        _contextMenu!.CloseContextMenu();
        _sanctionDialog!.OpenDialog();
    }

    private async Task OnSaveHealthEvent(Doctor doctor)
    {
        doctor.EmployeeId = SelectedEmployee.Id;
        var (flag, message) = await DoctorService.Create(doctor, Constants.DoctorBaseUrl);
        var result = await DisplayMessage(flag, message);
        if (result)
        {
            SelectedEmployee = new Employee();
            Doctor = new Doctor();
            _doctorDialog!.CloseDialog();
        }
    }

    private async Task OnSaveOvertimeEvent(Overtime overtime)
    {
        overtime.EmployeeId = SelectedEmployee.Id;
        var (flag, message) = await OvertimeService.Create(overtime, Constants.OvertimeBaseUrl);
        var result = await DisplayMessage(flag, message);
        if (result)
        {
            SelectedEmployee = new Employee();
            Overtime = new Overtime();
            _overtimeDialog!.CloseDialog();
        }
    }


    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await SfDialogService.AlertAsync(message, "Success");
            return true;
        }
        else
        {
            await SfDialogService.AlertAsync(message, "Error occurred.");
            return false;
        }
    }

    public void Dispose()
    {
        AllState.Action -= StateHasChanged;
    }

}
