@implements IDisposable

@if (AllState.ShowUser)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header text-bg-secondary">
                        <h4 class="float-start">Users</h4>
                    </div>
                    <div class="card-header text-bg-light"
                         style="max-height: 580px; overflow-x: hidden; overflow-y: scroll; ">
                        <div class="card-body text-bg-light">
                            <table class="table table-secondary table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Users is not null)
                                    {
                                        var count = 1;
                                        foreach (var item in Users)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Name</td>
                                                <td>@item.Email</td>
                                                <td>@item.Role</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle"
                                                       @onclick="() => EditClicked(item)"></i>
                                                    <i class="bi bi-trash text-danger" id="cursorStyle"
                                                       @onclick="() => DeleteClicked(item)"></i>

                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <div class="alert alert-info text-center">No ManageUserDto added yet!</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    #cursorStyle {
        cursor: pointer;
    }
</style>

<UserDialog @ref="_userDialog"
            ManageUser="ManageUser"
            SystemRoles="SystemRoles"
            OnSaveOperation="HandleSaveOperation" />


@code {
    UserDialog? _userDialog;
    private ManageUserDto ManageUser { get; set; } = new();
    public List<SystemRole> SystemRoles { get; set; } = [];
    private List<ManageUserDto> Users { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await GetUsers();
        await GetSystemRoles();
        AllState.Action += StateHasChanged;
    }

    private async Task GetUsers()
    {
        Users = await UserAccountService.GetUsers();
    }

    private async Task GetSystemRoles()
    {
        SystemRoles = await UserAccountService.GetRoles();
    }


    private void OpenDialog()
    {
        _userDialog?.OpenDialog();
    }

    //Add Or Update
    private async Task HandleSaveOperation(ManageUserDto user)
    {
        var result = await UserAccountService.UpdateUser(user);
        var successCheck = await DisplayMessage(result.Flag, result.Message);
        if (successCheck)
        {
            ManageUser = new ManageUserDto();
            await GetUsers();
        }
    }

    //Edit
    private void EditClicked(ManageUserDto user)
    {
        ManageUser = user;
        OpenDialog();
    }

    //Delete
    private async Task DeleteClicked(ManageUserDto user)
    {
        var isConfirmed = await SfDialogService.ConfirmAsync($"Are you sure you wanna delete {user.Name}?",
            "Confirm Delete");
        if (!isConfirmed) return;

        var response = await UserAccountService.DeleteUser(user.UserId);
        var successCheck = await DisplayMessage(response.Flag, response.Message);
        if (successCheck)
        {
            await GetUsers();
        }
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await SfDialogService.AlertAsync("Success", message);
            return true;
        }
        else
        {
            await SfDialogService.AlertAsync("Error", message);
            return false;
        }
    }

    public void Dispose()
    {
        AllState.Action -= StateHasChanged;
    }
}
