<SfDialog Width="100px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenContextMenu" />
    <DialogTemplates>
        <Header>Employee Menu</Header>
        <Content>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="ViewClicked"></div>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {

}
