<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card text-bg border-primary">
                <div class="card-header">
                    <i class="bi bi-people text-primary"></i> Employees
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card text-bg border-success">
                <div class="card-header">
                    <i class="bi bi-backpack text-success"></i> Vacation
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card text-bg border-danger">
                <div class="card-header">
                    <i class="bi bi-watch text-danger"></i> Overtime
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card text-bg border-warning">
                <div class="card-header">
                    <i class="bi bi-hospital text-warning"></i> Doctor
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card text-bg border-info">
                <div class="card-header">
                    <i class="bi bi-exclamation-triangle text-info"></i> Sanctions
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card text-bg border-dark">
                <div class="card-header">
                    <i class="bi bi-building text-dark"></i> GeneralDepartments
                </div>
            </div>
        </div>
    </div>
</div>